{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "9.2.1"
                }
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ]
}